#menu li {
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
}
#menu {
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
}
.datos-cliente {
  display: grid;
  grid-template-columns: auto auto;

  width: fit-content;
  text-align: center;
}
.datos-cliente > * {
  margin-bottom: 0.3rem;
}
.datos-cliente label {
  padding-right: 0.5rem;
}
