#menu li {
    display:inline;
    padding-left:3px;
    padding-right:3px;
}
#menu {
    font-family:Arial;
    font-weight:bold;
    font-size:13px;
}
.grid {
    display: grid;
    grid-template-columns: auto auto;
  
    width: fit-content;
    text-align: center;
}
.grid > * {
margin-bottom: 0.3rem;
}
.grid label {
padding-right: 0.5rem;
}


#iban{
    width: 200px;
}

#saldo {
    width: 50%;
}
.boton{
    width: 40%;
    margin-left: 15px;
}

button{
    width: 35%;
    margin-left: 20px;
}